* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100vw !important;
    box-sizing : border-box; 
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("2316648.jpg");
    background-position: center;
    background-size: cover;
}

a {
    color: inherit !important;
}

form h1 {
    text-align: center;
}

.container {
    margin: 8% auto;
    width: 780px;
    align-items: center;
}

form {
    position: center;
    align-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

    form input {
        width: 100%;
        padding: 2px 5px;
        margin: 5px 0;
    }

    form select {
        width: 100%;
        padding: 2px 5px;
        margin: 5px 0;
    }

    form label {
        width: 100%;
        padding: 2px 5px;
    }

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: blue;
    border-radius: 10px;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;
}

.span6 {
    align-content: center;
    padding: 10px;
    margin: 10px;
}


@media screen and (max-width: 620px) {
    * {
        margin: 4px !important;
        padding: 0.5px !important;
        max-width: 100vw;
        max-width: 80vw !important;
        font-size: 12px;
        text-align: center;
        align-content: center;
    }
}

.stepper-wrapper {
    margin-top: -90px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

    .stepper-item::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: -50%;
        z-index: 2;
    }

    .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 2;
    }

    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
    }

    .stepper-item.active .step-counter {
        background-color: dodgerblue;
    }

    .stepper-item.completed .step-counter {
        background-color: dodgerblue;
    }

    .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid blue;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 3;
    }

    .stepper-item:first-child::before {
        content: none;
    }

    .stepper-item:last-child::after {
        content: none;
    }

.step-name {
    color: white;
}

#qr {
    display: block;
    margin-left: auto;
    margin-right: auto
}

form #kvitteringInfo{
    padding-top: 50px;
}

form #reiseKode {
    text-align: center;
}

form #reiseKodeLabel{
    text-align: center;
}