/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("2316648.jpg");
    background-position: center;
    background-size: cover;
}

form h1{
    text-align: center;
}

.container {
    margin: 8% auto;
    width: 580px;
    align-items: center;
}

form{
    position: center;
    align-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

form input {
        width: 100%;
        padding: 2px 5px;
        margin: 5px 0;


        
    }

    form select {
        width: 100%;
        padding: 2px 5px;
        margin: 5px 0;

    }

    form label {
        width: 100%;
        padding: 2px 5px;
    }

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #00008B, #1E90FF);
    border-radius: 10px;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;
}
.button {
    width: 25px;
    display: flex; 
    height: auto;
} */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% -180px);
    line-height: 1.3;
    margin: 0;
}

.container {
    display: flex;
    width: 60vw;
    min-width: 1100px;
    height: 80vh;
    max-width: 90vw;
    flex-direction: column;
    position: absolute;
    top: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form_tittel {
    background-color: rgb(0,0,0,6);
    margin: auto;
    padding: 10px 0px 10px 0px;
}

.bg {
    background: url("../Bilder/photo-1505312917212-9db5bde78aff.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.form-container {
    background-color: rgb(0,0,0,0.6);
    color: #AFDFEE;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.form-group {
    display: inline-block;
    margin: 20px 10px 10px 1px;
}




fieldset, legend {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    border: none;
}



label {
    font-size: 1.05rem;
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    width: 110px;
 
}




select, input {
    cursor: pointer;
    width: 20rem;
    height: 2rem;
    font-family: 'Muli', 'sans-serif';
    font-size: 1rem;
    color: #2c2c28;
    padding-left: 5px;
}


button {
    background-color: #AFDFEE;
    margin-top: 25px;
    padding: 5px 10px;
    text-align: center;
}


/* Lugar section styling  */


.lugar-container {
    font-family: 'Muli', sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 110vh;
    overflow: visible;
    position: relative;
    display: block;
}


.topHeader {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 35px 0;
    z-index: 9999;
    min-height: 70px;
    height: 20px;
    background: #0ebfe9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
}

    .topHeader h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }

    .topHeader p {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8rem;
    }

.lugarer {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10rem auto;
}

.card {
    box-sizing: border-box;
    min-width: 25rem;
    height: auto;
    width: 28rem;
    min-height: 44rem;
    margin: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    border-radius: 15px;
    background: #2980B9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #0ebfe9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #0ebfe9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.1s ease;
}




.sticker {
    width: 100%;
    height: 8%;
    background-color: rgb(216, 22, 22);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
}

    .sticker h3 {
        font-size: 0.8em;
        text-transform: lowercase;
    }

        .sticker h3#pris span {
            font-size: 0.7em;
            text-transform: lowercase;
        }

.Beskrivelse {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 1.1em;
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
    font-weight: 500;
}

.card img {
    width: 100%;
    max-width: 100%;
    height: 40%;
    margin: 0;
    z-index: -1;
    border: none;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    margin: 0.5rem 0rem 0rem 3rem;
}


.option {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin: 15px 0px 5px 0px;
    position: relative;
}



    .option i {
        display: block;
        position: absolute;
        top: 7%;
        left: -30px;
        ;
    }

    .option.personer i {
        display: block;
        position: absolute;
        top: -15%;
        left: -30px;
        ;
    }

#personIkon {
    font-size: 25px;
}

.option .optionstext span {
    font-weight: 800;
}

.btnPlaceholder {
    display: flex;
    justify-content: space-around;
    height: 10%;
    align-items: center;
    margin-bottom: 15px;
}

    .btnPlaceholder .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10em;
        cursor: pointer;
        border-radius: 260px;
        font-size: 1.1rem;
        font-weight: 800;
        padding: 10px 10px 10px 10px;
        margin-top: 12px;
    }
/*Må sees igjen*/
.line {
    height: 10px;
    width: 80px;
    color: #000000;
    z-index: 4;
}

.btnPlaceholder .btn.fjernBtn {
    display: flex;
    justify-content: space-around;
    background-color: #E4E4E4;
}

.btnPlaceholder .btn.addBtn {
    display: flex;
    justify-content: space-around;
    background-color: #FCBA30;
}
